---
layout: default
slug: comunicacio
title: comunicació corporativa i aplicació de tecnologia avançada de codi obert
keywords: comunicació, corporativa, aplicació, tecnologia, avançada, codi, obert
---

<main class="ox-masthead" id="content" role="main">
	<div class="container">
		<p class="text-center"><img class="molecula" src="{{ site.base_url }}/assets/img/oxygen-ico-blau-96.png" data-src961="{{ site.base_url }}assets/img/oxygen-ico-blau-51.png" data-src1025="{{ site.base_url }}/assets/img/oxygen-ico-blau-70.png" /></p>
		<h1 class="text-center">Comunicació</h1>
	</div>
	
	<div class="container">
		<div class="jumbotron">
			<h2 class="text-center">Som experts en comunicació corporativa i l’aplicació de tecnologia avançada de codi obert per potenciar els projectes i la identitat digital de les empreses i els professionals a la xarxa</h2>
		</div>
	</div>	

	<div class="container">
    

			<div class="body-content">


				<div class="row">
					<div class="col-sm-4 col-lg-4 hidden-xs">
						<p><img class="img-circle molecula" src="{{ site.base_url }}/assets/img/powerband.png" /></p>
					</div>
					<div class="col-sm-4 col-lg-4">
						<p><img class="img-circle molecula" src="{{ site.base_url }}/assets/img/interlands.png" /></p>
					</div>
					<div class="col-sm-4 col-lg-4 hidden-xs">
						<p><img class="img-circle molecula" src="{{ site.base_url }}/assets/img/fundaciopalau.png" /></p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-lg-4">
						<ul>
							<li>Elaborem <strong>estratègies de comunicació</strong> per a professionals i organitzacions a la xarxa.</li>
						</ul>
					</div>
					<div class="col-sm-4 col-lg-4">
						<ul>
							<li>Aportem <strong>la creació i l’actualització del disseny</strong> de la imatge corporativa, amb el seu desplegament en arts finals en els múltiples suports.</li>
						</ul>
					</div>

					<div class="col-sm-4 col-lg-4">
						<ul>
							<li>Establim un <strong>pla de comunicació</strong> personalitzat per a la potenciació de la identitat digital professional a la xarxa.</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-lg-6">
						<ul>
					  		<li>Comptem amb experiència contrastada per al <strong>posicionament de productes</strong> i continguts a Internet.</li>
						</ul>
					</div>
					<div class="col-sm-6 col-lg-6">
						<ul>
					  		<li>Utilitzem els recursos de <strong>codi obert</strong> per a la creació d’<strong>espais web</strong> a la xarxa que lluixen de meravella en <strong>qualsevol tipus de dispositiu</strong> (<abbr title="Responsive Web Design" lang="en" xml:lang="en">RWD</abbr>).</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-lg-6">
						<ul>
						  	<li>Completem els projectes amb el <strong>registre de dominis</strong>, l’<strong>allotjament</strong> del web i <strong>bústies de correu</strong> electrònic personalitzades.</li>
						</ul>
					</div>
					<div class="col-sm-6 col-lg-6">
						<ul>
						  	<li>Tots els projectes es poden acollir a diferents fórmules de <strong>manteniment i actualització</strong>.</li>
						</ul>
					</div>
				</div>

				{% for post in site.tags.case-study limit:1 offset:1 %}
				<div class="jumbotron case-study">
					<div class="container">
						<h3>Treball destacat</h3>
						{% if post.featured-img-url %}
						<div class="row">
							<div class="col-sm-7 col-md-9">
								<a href="{{site.baseurl}}{{post.url}}"><h2>{{ post.title}}</h2></a>
							</div>
							<div class="col-sm-5 col-md-3">
								<img class="img-circle" src="{{site.baseurl}}/assets/img/{{post.featured-img-url}}">
							</div>
						</div>
						{% else if %}
						<div class="row">
							<div class="col-sm-12 col-md-12">
								<a href="{{site.baseurl}}{{post.url}}"><h2>{{ post.title}}</h2></a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				{% endfor %}

				<div class="page-header">
					<h1 class="text-center">T'ajudem? Ens encantaria treballar amb tu!</h1>
					<p class="text-center"><a href="{{ site.base_url }}/contacte" class="btn btn-default btn-lg"><i class="icon-envelope"></i> contacta'ns »</a></p>
				</div>	

			</div>

	</div> <!-- /container -->

</main>