---
layout: default
slug: contacte
title: contacte
---

<main class="ox-masthead" id="content" role="main">
  <div class="container">
    <p class="text-center"><img class="molecula" src="{{ site.base_url }}/assets/img/oxygen-ico-blau-96.png" data-src961="{{ site.base_url }}assets/img/oxygen-ico-blau-51.png" data-src1025="{{ site.base_url }}/assets/img/oxygen-ico-blau-70.png" /></p>
    <h1 class="text-center">Contacte</h1>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h2 class="text-center">t'ajudem? ens encantaria treballar amb tu!</h2>
    </div>
  </div>

  <div class="container">
    <div class="body-content">
      <form role="form" class="jotform-form form-horizontal" action="http://submit.jotform.co/submit/32316397185863/" method="post" name="form_32316397185863" id="32316397185863" accept-charset="utf-8">
        <input type="hidden" name="formID" value="32316397185863" />
        
        <div class="form-group" id="id_1">
          <label class="col-lg-2 control-label" id="label_1" for="input_1">Nom</label>
          <div id="cid_1" class="col-lg-10">
            <input type="text" class=" form-textbox validate[required] form-control" data-type="input-textbox" id="input_1" name="q1_nom" value="" placeholder="Nom" />
          </div>
        </div>

        <div class="form-group" id="id_3">
          <label id="label_3" for="input_3" class="col-lg-2 control-label">Correu-e</label>
          <div id="cid_3" class="col-lg-10">
            <input type="text" class=" form-textbox validate[required] form-control" data-type="input-textbox" id="input_3" name="q3_correue" value="" placeholder="Correu-e"/>
          </div>
        </div>      

        <div class="form-group" id="id_4">
          <label id="label_4" for="input_4" class="col-lg-2 control-label">Missatge</label>
          <div id="cid_4" class="form-input col-lg-10">
            <textarea id="input_4" class="form-control form-textarea" name="q4_missatge" rows="6"></textarea>
          </div>
        </div>

        <div class="form-group" id="id_5">
          <label class="col-lg-2 control-label" id="label_5" for="input_5">Introduïu el missatge com es mostra</label>
          <div id="cid_5" class="form-input col-lg-10">
            <div class="form-captcha">
              <label for="input_5"> <img alt="Captcha - Reload if it's not displayed" id="input_5_captcha" class="form-captcha-image" style="background:url(http://cdn.jotfor.ms/images/loader-big.gif) no-repeat center;" src="http://cdn.jotfor.ms/images/blank.gif" width="150" height="41" /> </label>
              <div style="white-space:nowrap;">
                <input type="text" id="input_5" class="form-textbox validate[required] form-control" name="captcha" />
                <img src="http://cdn.jotfor.ms/images/reload.png" alt="Reload" align="absmiddle" style="cursor:pointer" onclick="JotForm.reloadCaptcha('input_5');" />
                <input type="hidden" name="captcha_id" id="input_5_captcha_id" value="0" />
              </div>
            </div>
          </div>
        </div>

        <div id="id_2" class="form-group">
          <div id="cid_2" class="col-lg-offset-2 col-lg-10">
            <button id="input_2" type="submit" class="btn btn-default">Enviar</button>
          </div>
        </div>

        <div class="form-group" style="display:none;">
          Should be Empty:
          <input type="text" name="website" value="" />
        </div>
        
        <input type="hidden" id="simple_spc" name="simple_spc" value="32316397185863" />
        <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "32316397185863-32316397185863";
        </script>
      </form>

      <hr/>

      <section id="thoughts">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <a href="{{ site.base_url }}blog/"><h2><i class="icon-edit"></i> Oxygen blog</h2></a>           
            {% for post in site.categories.general limit:1 %}
            <h4><time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | localize: ":simple" }}</time></h4>
            <a href="{{site.baseurl}}{{post.url}}"><h3>{{ post.title }}</h3></a>              
            {% endfor %}            
          </div>
          <div class="col-sm-6 col-md-6">
            <h2><i class="icon-quote-right"></i> Oxygen cita</h2>
            {% for post in site.categories.cita limit:1 %}
              {{ post.content }}
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>
</main>

<script src="http://cdn.jotfor.ms/static/jotform.js?3.1.1376" type="text/javascript"></script>
<script type="text/javascript">
   JotForm.init(function(){
      $('input_3').hint('ex.: elmeucorreu@elmeudomini.om');
      JotForm.initCaptcha('input_5');
   });
</script>