---
layout: home
slug: home
title: Vortex Online Wind Modeling for Professionals. By Professionals
keywords: online, wind, modeling, forecast, solar, offshore
---

<main class="vx-masthead" id="content" role="main">


	{% for post in site.tags.case-study limit:1 %}
	<div class="jumbotron jumbotron-no-margin full-width case-study hidden-md hidden-lg">
		<div class="container">
			<h3>Treball destacat</h3>
			{% if post.featured-img-url %}
			<div class="row">
				<div class="col-sm-7 col-md-9">
					<a href="{{site.baseurl}}{{post.url}}"><h1>{{ post.title}}</h1></a>
				</div>
				<div class="col-sm-5 col-md-3">
					<img class="img-circle" src="{{site.baseurl}}/assets/img/{{post.featured-img-url}}">
				</div>
			</div>
			{% else if %}
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<a href="{{site.baseurl}}{{post.url}}"><h1>{{ post.title}}</h1></a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{% endfor %}

	<div class="jumbotron jumbotron-no-margin case-study case-study-sequence hidden-xs hidden-sm">

		<div id="sequence">
				<span class="sequence-prev">&laquo;</span>
				<span class="sequence-next">&raquo;</span>
				<ul class="sequence-canvas">
				{% assign count = '0' %}
					{% for post in site.tags.case-study limit:3 %}
					{% if post.tags contains 'case-study' %}
						{% capture count %}{{ count | plus: '1' }}{% endcapture %}
						{% if count == '1' %}
						<li class="animate-in case-study-{{ count }}">
						{% else if %}
						<li class="case-study-{{ count }}">
						{% endif %}
							{% if post.featured-img-url %}
							
								<div class="info">
									<a href="{{site.baseurl}}{{post.url}}"><h1>{{ post.title}}</h1></a>
								</div>
									<img class="img-circle img-case-study-{{ count }}" src="{{site.baseurl}}/assets/img/{{post.featured-img-url}}">
									<span class="sky"></span>
								
							
							{% else if %}
							
								<div class="info">
									<a href="{{site.baseurl}}{{post.url}}"><h1>{{ post.title}}</h1></a>
								</div>
							
							{% endif %}
						</li>
					{% endif %}
					{% endfor %}
				</ul>
		</div>

	</div>

	<div class="jumbotron jumbotron-orange jumbotron-no-margin full-width">

		<div class="container">

			<div class="page-header">
				<h1 class="text-center">Can we help you?</h1> 
				<p class="text-center"><a href="{{ site.base_url }}/contacte" class="btn btn-default btn-lg"><i class="icon-envelope"></i> Get Started »</a></p>
			</div>

		</div>

	</div>

	<div class="container">

		<div class="body-content">

			<section id="thoughts">
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<a href="{{ site.base_url }}blog/"><h2><i class="icon-edit"></i> Oxygen blog</h2></a>						
						{% for post in site.categories.general limit:1 %}
						<h4><time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | localize: ":simple" }}</time></h4>
						<a href="{{site.baseurl}}{{post.url}}"><h3>{{ post.title }}</h3></a>							
						{% endfor %}						
					</div>
					<div class="col-sm-6 col-md-6">
						<h2><i class="icon-quote-right"></i> Oxygen cita</h2>
						{% for post in site.categories.cita limit:1 %}
							{{ post.content }}
						{% endfor %}
					</div>
				</div>
			</section>

		</div>

	</div>

</main>