---
layout: home
slug: home
title: Vortex Online Wind Modeling for Professionals. By Professionals
keywords: online, wind, modeling, forecast, solar, offshore
---

<main class="vx-masthead" id="content" role="main">

	<!-- Carousel
	================================================== -->
	<div id="myCarouselHomeVortex" class="carousel slide carousel-vortex-home hidden-md hidden-lg">
	<!-- Indicators -->
		<ol class="carousel-indicators">
		{% assign count = '-1' %}
			{% for post in site.tags.slideshow limit:5 %}
				{% if post.tags contains 'slideshow' %}
					{% capture count %}{{ count | plus: '1' }}{% endcapture %}
					{% if count == '0' %}
					<li data-target="#myCarouselHomeVortex" data-slide-to="{{ count }}" class="active">
					{% else if %}
					<li data-target="#myCarouselHomeVortex" data-slide-to="{{ count }}">
					{% endif %}
					</li>
				{% endif %}
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% assign count = '0' %}
			{% for post in site.tags.slideshow limit:5 %}
			{% if post.tags contains 'slideshow' %}
				{% capture count %}{{ count | plus: '1' }}{% endcapture %}
				{% if count == '1' %}
				<div class="item active">
				{% else if %}
				<div class="item">
				{% endif %}
					{% if post.featured-img-url %}
					<div class="container">
						<img src="{{site.baseurl}}/assets/img/{{post.featured-img-url}}" data-src641="{{site.baseurl}}/assets/img/{{post.featured-img-url-768}}" data-src961="{{site.baseurl}}/assets/img/{{post.featured-img-url}}" data-src1025="{{site.baseurl}}/assets/img/{{post.featured-img-url-1280}}">
						{% if post.title == 'Vortex' %}
						<div class="carousel-caption">
							<h1>
								<strong>{{ post.title }}</strong>: {{ post.subtitle }}
							</h1>
							<h4>{{ post.excerpt }}</h4>
						</div>
						{% else if %}
						<div class="carousel-caption">
							<a href="{{site.baseurl}}/markets/{{ post.url }}.html">
							<h1>
								<strong>{{ post.title }}</strong>, {{ post.subtitle }}
							</h1>
							<h4>{{ post.excerpt }}</h4>
							</a>
						</div>
						{% endif %}
			         </div>	
					
					{% else if %}
					<div class="container">
						<div class="carousel-caption">
							<a href="{{site.baseurl}}/markets/{{ post.url }}.html">
							<h1>
								<strong>{{ post.title }}</strong>, {{ post.subtitle }}
							</h1>
							<h4>{{ post.excerpt }}</h4>
							</a>
						</div>					
					{% endif %}
				</div>
			{% endif %}
			{% endfor %}
		</div>
	<a class="left carousel-control" href="#myCarouselHomeVortex" data-slide="prev"></a>
	<a class="right carousel-control" href="#myCarouselHomeVortex" data-slide="next"></a>
	</div><!-- /.carousel -->

	<section id="timelineTenAnniversary" class="hidden-xs hiddem-sm">
			<div class="body-content timeline-ten-anniversary" id="timeline-embed">
				
			</div>
   </section>

	<div id="marketsIconHome" class="jumbotron jumbotron-white jumbotron-no-margin full-width cl-effect-3">
		<div class="container">
	  		<div class="row">
	  			<div class="col-md-3 col-sm-6">
	  				<p class="text-center hidden-xs hiddem-sm"><a href="{{ site.base_url }}/markets/wind-and-site.html"><img src="{{ site.base_url }}/assets/img/02-bg-slide-wind-and-site-320.jpg"></a></p>
	  				<h1 class="title-icon text-center"><a href="{{ site.base_url }}/markets/wind-and-site.html">Wind & Site</a></h1>
				</div>
				<div class="col-md-3 col-sm-6">
	  				<p class="text-center hidden-xs hiddem-sm"><a href="{{ site.base_url }}/markets/forecast.html"><img src="{{ site.base_url }}/assets/img/03-bg-slide-forecast-320.jpg"></a></p>
			    	<h1 class="title-icon text-center"><a href="{{ site.base_url }}/markets/forecast.html">Forecast</a></h1>
				</div>
				<div class="col-md-3 col-sm-6">
	  				<p class="text-center hidden-xs hiddem-sm"><a href="{{ site.base_url }}/markets/solar.html"><img src="{{ site.base_url }}/assets/img/04-bg-slide-solar-320.jpg"></a></p>
					<h1 class="title-icon text-center"><a href="{{ site.base_url }}/markets/solar.html">Solar</a></h1>
				</div>
				<div class="col-md-3 col-sm-6">
	  				<p class="text-center hidden-xs hiddem-sm"><a href="{{ site.base_url }}/markets/offshore.html"><img src="{{ site.base_url }}/assets/img/05-bg-slide-offshore-320.jpg"></a></p>
					<h1 class="title-icon text-center"><a href="{{ site.base_url }}/markets/offshore.html">Offshore</a></h1>
				</div>
			</div>
		</div>
	</div>

</main>
