---
layout: default
slug: "quant-a"
title: "comunicació i infraestructures per mitjà dels darres estàdards de disseny, programació web i virtualització al núvol"
keywords: comunicació, infraestructures, estàndards, disseny, programació, web, virtualització, núvol
published: true
---

<main class="ox-masthead" id="content" role="main">
	<div class="jumbotron full-width">
		<div class="container">
			<p class="text-center"><a href="{{ site.base_url }}/comunicacio"><img class="molecula" src="{{ site.base_url }}/assets/img/oxygen-ico-blau-96.png" data-src961="{{ site.base_url }}/assets/img/oxygen-ico-blau-51.png" data-src1025="{{ site.base_url }}/assets/img/oxygen-ico-blau-70.png" /></a> <a href="{{ site.base_url }}/infraestructura"><img class="molecula" src="{{ site.base_url }}/assets/img/oxygen-ico-taronja-96.png" data-src961="{{ site.base_url }}/assets/img/oxygen-ico-taronja-51.png" data-src1025="{{ site.base_url }}/assets/img/oxygen-ico-taronja-70.png" /></a> </p>
		<h1 class="text-center">Nosaltres som Oxygen</h1>
		</div>
	</div>

    <div class="container">
    

      <div class="body-content">
	
		<h2>Oxygen és <span class="label label-info marketing sm">una empresa tecnològica i creativa</span> amb seu a Barcelona.</h2>

		<hr />

		<p>Comptem amb <strong>un valuós equip de professionals, amb 17 anys de trajectòria</strong>, experts en comunicació corporativa, disseny web, programació i sistemes informàtics, per a la realització de projectes ambiciosos a Internet.</p>

		<p>Posem a disposició de les organitzacions un conjunt de serveis comunicatius i productes tecnològics avançats, per potenciar la identitat digital corporativa a la xarxa.</p>

		<p>Som una empresa petita, per disseny. Ens hem resistit a la temptació de créixer més, perquè sabem que el que fem ho fem millor romanent petits i mantenimt la capacitat d'establir relacions a llarg termini amb els nostres clients.</p>
                
        <div class="page-header">
        	<h1 class="text-center">T'ajudem? Ens encantaria treballar amb tu!</h1> <p class="text-center"><a href="{{ site.base_url }}/contacte" class="btn btn-default btn-lg"><i class="icon-envelope"></i> contacta'ns »</a></p>
      	</div>

      	<section id="thoughts">
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<a href="{{ site.base_url }}blog/"><h2><i class="icon-edit"></i> Oxygen blog</h2></a>						
					{% for post in site.categories.general limit:1 %}
					<h4><time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | localize: ":simple" }}</time></h4>
					<a href="{{site.baseurl}}{{post.url}}"><h3>{{ post.title }}</h3></a>							
					{% endfor %}						
				</div>
				<div class="col-sm-6 col-md-6">
					<h2><i class="icon-quote-right"></i> Oxygen cita</h2>
					{% for post in site.categories.cita limit:1 %}
						{{ post.content }}
					{% endfor %}
				</div>
			</div>
		</section>	
			
      </div>

    </div>

</main>