

    <footer role="contentinfo">
      <div class="footer-bg">
        <div class="container ox_animate_when_almost_visible ox_bottom-to-top">
          <div class="row">
            <div class="col-sm-1 col-lg-1">
              <p><img src="{{ site.base_url }}/assets/img/vortex-logo-footer.png" /></p>
            </div>
            <div class="col-sm-1 col-lg-1">
              <p>
                <small><a href="/"><strong>Home</strong></a></small>
              </p>
            </div>
            <div class="col-sm-1 col-lg-1">
              <p>
                <small><a href="{{ site.base_url }}/markets/"><strong>Markets</strong></a>
                  <br/><a href="{{ site.base_url }}/markets/wind-and-site.html">Wind & site</a>
                  <br/><a href="{{ site.base_url }}/markets/forecast.html">Forecast</a>
                  <br/><a href="{{ site.base_url }}/markets/solar.html">Solar</a>
                  <br/><a href="{{ site.base_url }}/markets/offshore.html">Offshore</a>
                </small>
              </p>
            </div>
            <div class="col-sm-1 col-lg-1">
              <p>
                <small><a href="{{ site.base_url }}/solutions/"><strong>Solutions</strong></a>
                  <br/><a href="{{ site.base_url }}/solutions/">Wind & Site</a>
                  <br/><a href="{{ site.base_url }}/solutions/forecast-index.html">Forecast</a>
                  <br/><a href="{{ site.base_url }}/solutions/solar-index.html">Solar</a>
                  <br/><a href="{{ site.base_url }}/solutions/off-shore-index.html">Offshore</a>
                </small>
              </p>
            </div>
            <div class="col-sm-1 col-lg-1">
              <p>
                <small><a href="{{ site.base_url }}/about-us/"><strong>About Us</strong></a>
                  <br/><a href="{{ site.base_url }}/blog/">News</a>
                  <!-- <br/><a href="{{ site.base_url }}/about-us/accuracy.html">Accuracy</a> -->
                  <br/><a href="{{ site.base_url }}/gil-faq/">Ask Gil</a>
                  <br/><a href="{{ site.base_url }}/resources/">Resources</a>
                  <br/><a href="{{ site.base_url }}/timeline.html">Timeline</a>
                </small>
              </p>
            </div>
            <div class="col-sm-1 col-lg-1">
              <p><small><a href='http://interface.vortexfdc.com/signup' rel="external" title='Please, sign up'><strong>Get Started</strong></a></small></p>
            </div>
            <div class="col-sm-2 col-lg-2 col-sm-offset-2 col-lg-offset-2">
              <p>
                <small><strong>&copy; Vortex 2017</strong>
                  <br/><a href="{{ site.base_url }}/terms-of-use.html">Terms of Use</a>
                  <br/><a href="{{ site.base_url }}/privacy-policy.html">Privacy Policy</a>
                </small>
              </p>
            </div>
            <div class="col-sm-2 col-lg-2">
              <p class="text-right"><a href="https://twitter.com/info_vortex" title="Twitter" rel="external"><i class="icon-twitter icon-large"></i></a> <a href="http://www.linkedin.com/company/vortex" title="Linkedin" rel="external"><i class="icon-linkedin icon-large"></i></a> <a href="mailto:info@vortex.es" title="Correu-e" rel="external"><i class="icon-envelope icon-large"></i></a> <a href="http://www.oxygen.cat/" title="Oxygen comunicaçió i infraestructures" rel="external"><i class="icon-external-link icon-large"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
<script>
  window.intercomSettings = {
    app_id: "kfin0jfj"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/kfin0jfj';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
