<ul class="nav nav-tabs">
  <li{% if page.title == "Solutions" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/">Wind & Site</a></li>
  <li{% if page.title == "Forecast" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/forecast-index.html">Forecast</a></li>
  <li{% if page.title == "Solar" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/solar-index.html">Solar</a></li>
  <li{% if page.title == "Off-shore" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/off-shore-index.html">Off-shore</a></li>
</ul>