<ul class="nav nav-tabs">
  <li{% if page.title == "Wind & Site" %} class="active"{% endif %}><a href="{{ site.base_url }}/markets/wind-and-site.html">Wind & Site</a></li>
  <li{% if page.title == "Forecast" %} class="active"{% endif %}><a href="{{ site.base_url }}/markets/forecast.html">Forecast</a></li>
  <li{% if page.title == "Solar radiation" %} class="active"{% endif %}><a href="{{ site.base_url }}/markets/solar.html">Solar</a></li>
  <li{% if page.title == "Off-shore" %} class="active"{% endif %}><a href="{{ site.base_url }}/markets/offshore.html">Offshore</a></li>
</ul>