<ul class="nav nav-tabs">
  <li{% if page.title == "Free Resources - Wind Maps" %} class="active"{% endif %}><a href="{{ site.base_url }}/resources/wind-map.html">Wind Maps</a></li>
  <li{% if page.title == "Free Resources - Anomaly Wind Maps" %} class="active"{% endif %}><a href="{{ site.base_url }}/resources/anomaly-wind-maps.html">Anomaly Wind Maps</a></li>
  <li{% if page.title == "Free Resources - Solar Maps" %} class="active"{% endif %}><a href="{{ site.base_url }}/resources/solar-map.html">Solar Maps</a></li>
  <li{% if page.title == "Free Resources - Technical Docs" %} class="active"{% endif %}><a href="{{ site.base_url }}/resources/technical-docs.html">Technical Docs</a></li>
  <li{% if page.title == "Free Resources - Validations" %} class="active"{% endif %}><a href="{{ site.base_url }}/resources/validations.html">Validations</a></li>
</ul>
