<ul class="nav nav-tabs">
  <li{% if page.title == "News" %} class="active"{% endif %}><a href="{{ site.base_url }}/blog/">News</a></li>
  <!-- <li{% if page.title == "Accuracy" %} class="active"{% endif %}><a href="{{ site.base_url }}/about-us/accuracy.html">Accuracy</a></li> -->
  <li{% if page.title == "Ask Gil" %} class="active"{% endif %}><a href="{{ site.base_url }}/gil-faq/">Ask Gil</a></li>
  <li{% if page.title == "Free Resources" %} class="active"{% endif %}><a href="{{ site.base_url }}/resources/">Resources</a></li>
  <li{% if page.title == "Timeline" %} class="active"{% endif %}><a href="{{ site.base_url }}/timeline.html">Timeline</a></li>
</ul>
