<ul class="nav nav-tabs">
  <li{% if page.title == "MAPS" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/sMaps.html">MAPS</a></li>
  <li{% if page.title == "SERIES" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/sSeries.html">SERIES</a></li>
  <li{% if page.title == "TMY" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/sTMY.html">TMY</a></li>
  <!-- <li{% if page.title == "Pricing" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/sPricing.html">Pricing</a></li> -->
</ul>