<header role="banner">
	<div class="navbar navbar-fixed-top navbar-default cl-effect-3">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.base_url }}/"><img src="{{ site.base_url }}/assets/img/vortex-logo.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-nav-right">
           <li{% if page.slug == "markets" %} class="active"{% endif %}>
				      <a href="{{ site.base_url }}/markets">Markets</a>
		       </li>
           <li{% if page.slug == "solutions" %} class="active"{% endif %}>
              <a href="{{ site.base_url }}/solutions">Solutions</a>
           </li>
           <li{% if page.slug == "about-us" %} class="active"{% endif %}>
              <a href="{{ site.base_url }}/about-us">About us</a>
           </li>
			     <li class="get-started {% if page.slug == "get-started" %}active{% endif %}">
				    <a href="http://itest.vortex.es/signup" rel="external" target="_blank"><span class="btn btn-info">Get Started</span></a>
			     </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
 </header>