<ul class="nav nav-tabs">
  <li{% if page.title == "MAPS" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/maps.html">MAPS</a></li>
  <li{% if page.title == "MAST" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/mast.html">MAST</a></li>
  <li{% if page.title == "FARM" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/farm.html">FARM</a></li>
  <li{% if page.title == "SERIES" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/series.html">SERIES</a></li>
  <li{% if page.title == "ICING" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/icing.html">ICING</a></li>
  <li{% if page.title == "FORECAST" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/forecast.html">FORECAST</a></li>
  <!-- <li{% if page.title == "WAVES" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/waves.html">WAVES</a></li> -->
  <!-- <li{% if page.title == "SOLAR" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/solar.html">SOLAR</a></li> -->
  <li{% if page.title == "Pricing" %} class="active"{% endif %}><a href="{{ site.base_url }}/solutions/pricing.html">Pricing</a></li>
</ul>