<div class="card card-gil ox_animate_when_almost_visible ox_bottom-to-top {% if cardCount < 10 %}display{% else %}nodisplay{% endif %}">
	<div data-title='{{post.title | replace:"'","\'"}}' data-url='{{post.url}}' data-open='true'>
	</div>
	<a href="{{site.baseurl}}{{post.url}}"><h2 class="card-title">{{post.title}}</h2></a>
	<div class="card-content card-content-resources">
		{% if page.class == 'blog-index' %}<h4><time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | date: "%b %d" }}</time></h4>{% endif %}
		 {% if post.featured-img-url %}
            <p class="text-center"><a href='{{site.baseurl}}/assets/docs/{{post.docs-url}}'><img class="img-thumbnail" src="{{site.baseurl}}/assets/img/{{post.featured-img-url}}" {% if post.featured-img-alt != "" %}alt="{{post.featured-img-alt}} featured-img"{% endif %}></a></p>
         {% endif %}
         <p class='continue-link'><a href='{{site.baseurl}}/assets/docs/{{post.docs-url}}'>Download <span class="icon-download-alt"></span></a></p>
	</div>
</div>
