<p class="lead">Are you meeting production expectations? How much did your wind farm over/underproduce last year or month? How much can be explained by wind resource inter-annual variability? INSIGHT will help you answer these questions by putting your site-specific data in context compared to a long-term wind and production anomalies analysis.</p>

<h2>When to use INSIGHT?</h2>

When you need an external measure of climate variability to analyze the performance of your wind farm.

<iframe width="640" height="360" src="https://www.youtube.com/embed/AwG3cgAZPMM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

<h3>Technical details:</h3>

<ul>
	<li>Any region world-wide, both on and off-shore.</li>
	<li>Monthly updated reports of last running 12 month.</li>
	<li>Available variables: mean wind, temperature and production.</li>
	<li>Customized to your site-specific measurements by means of proprietary <a target="_blank" href="/docs/EWEA2014_Atortosa.pdf">Remodeling</a> algorithms.</li>
	<li>Long-term (20-year) reference baseline.</li>
	<li>Based on cutting-edge climatology technologies.</li>
	<li>1-Season ahead forecast (coming soon)</li>
</ul>


