 @import url("/assets/fonts/stylesheet.css");
 
 /* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

img {
  max-width:100%;
}

.display {
  display: block;
}

.nodisplay {
  display: none!important;
}

.page-header {
  border-bottom:1px solid rgb(0,60,76);
}

/* ----- #myCarouselHomeVortex ---- */

#myCarouselHomeVortex .carousel-caption {
  z-index: 10;
  top:0;
  text-align: left;
  text-shadow:none;
}
#myCarouselHomeVortex .carousel-indicators {
  top:20px;
}
#myCarouselHomeVortex .carousel-caption h1, #myCarouselHomeVortex .carousel-caption h4 {
  color: #ffffff;
}

#myCarouselHomeVortex.carousel .item {
  min-height: 200px;
  background-color: rgba(0,60,76,1);
}

#myCarouselHomeVortex .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

/* ---- marketsIconHome ---- */

#marketsIconHome {
  background: #003C4C;
  max-width: 100%;
}

  @-webkit-keyframes cf3FadeInOut {
   0% {
     opacity:1;
   }
   25% {
    opacity:1;
  }
  75% {
    opacity:0;
  }
  100% {
   opacity:0;
 }
}

@-moz-keyframes cf3FadeInOut {
 0% {
   opacity:1;
 }
 25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
 opacity:0;
}
}

@-o-keyframes cf3FadeInOut {
 0% {
   opacity:1;
 }
 25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
 opacity:0;
}
}

@keyframes cf3FadeInOut {
 0% {
   opacity:1;
 }
 25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
 opacity:0;
}
}

@-webkit-keyframes cf3FadeInOut_b {
   0% {
     opacity:0;
   }
   25% {
    opacity:0;
  }
  75% {
    opacity:1;
  }
  100% {
   opacity:1;
 }
}

@-moz-keyframes cf3FadeInOut_b {
 0% {
   opacity:0;
 }
 25% {
  opacity:0;
}
75% {
  opacity:1;
}
100% {
 opacity:1;
}
}

@-o-keyframes cf3FadeInOut_b {
 0% {
   opacity:0;
 }
 25% {
  opacity:0;
}
75% {
  opacity:1;
}
100% {
 opacity:1;
}
}

@keyframes cf3FadeInOut_b {
 0% {
   opacity:0;
 }
 25% {
  opacity:0;
}
75% {
  opacity:1;
}
100% {
 opacity:1;
}
}

.blau-vortex {
  /*background: rgba(0,60,76,1);*/
}

#cf3 {
  position:relative;
  height:115px;
  width:174px;
  margin:0 auto;
}
#cf3 img {
  position:absolute;
  left:0;
}

#cf3 img.top {
  -webkit-animation-name: cf3FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
  -webkit-animation-direction: alternate;

  -moz-animation-name: cf3FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 10s;
  -moz-animation-direction: alternate;

  -o-animation-name: cf3FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 10s;
  -o-animation-direction: alternate;

  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

#cf3 img.bottom {
  -webkit-animation-name: cf3FadeInOut_b;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
  -webkit-animation-direction: alternate;

  -moz-animation-name: cf3FadeInOut_b;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 10s;
  -moz-animation-direction: alternate;

  -o-animation-name: cf3FadeInOut_b;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 10s;
  -o-animation-direction: alternate;

  animation-name: cf3FadeInOut_b;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

p.vortex-icon.title-icon a {
  text-transform: uppercase;
  font-size: 30px;
  font-family:'vortexregular', serif;
  color: rgba(0,60,76,1);
  letter-spacing: 2px;
  margin:0;
}

p.vortex-icon.title-icon.title-inverse-icon a {
  color: rgba(255,255,255,1);
}


.molecula:hover {
          transform: rotate(360deg);
     -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition-duration:1500ms;
  cursor:progress;
}

.jumbotron {
  border-radius:0;
  color:rgb(0,60,76);
  background:rgba(0, 60, 76, 0.25);
}

.jumbotron.case-study {
  color:rgb(172,203,218);
  background:rgb(0,60,76);
}

.jumbotron-blue-vortex {
  background:rgb(191,203,207);
}

.jumbotron-no-margin {
  margin: 0
}

.jumbotron.case-study.case-study-sequence {
  padding: 0;
}

.jumbotron.case-study h1, .jumbotron.case-study h2, .jumbotron.case-study h3 {
  color:rgb(255,255,255);
}

.jumbotron .page-header {
  border-bottom: none;
}
.vx-blog #content {
  background:#ffffff;
}

body {
  font-family:'vortexregular', serif;
}

h1,h2,h3 {
  font-family:'vortexregular', serif;
  color:rgb(0,60,76);
}
h4,h5,h6,.navbar-default .navbar-nav > li > a {
  font-family:'vortexregular', serif;
  color:rgb(0,60,76);
}

h4 time {
  text-transform: uppercase;
}

/*.navbar-default .navbar-nav > li:last-child > a {
  color:rgb(147,176,237);
}*/

/* Effect 5: same word slide in */
header[role="banner"] .cl-effect-5 a {
	overflow: hidden;
}

header[role="banner"] .cl-effect-5 a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

header[role="banner"] .cl-effect-5 a span::before {
	position: absolute;
	top: 200%;
	content: attr(data-hover);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

header[role="banner"] .cl-effect-5 a:hover span,
header[role="banner"] .cl-effect-5 a:focus span {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	transform: translateY(-200%);
}

header[role="banner"] div.navbar {
  padding-top: 12.5px;
  min-height: 75px;
}
.navbar{
  background: #ffffff;
  border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-brand {
  margin-left:0;
  padding:0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background:rgba(0, 60, 76, 0.25);
  color:rgb(0,60,76);
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background:rgb(0,60,76); 
}

main[role="main"] {
  margin-top: 25px;
}

footer[role="contentinfo"] {
  font-family:'vortexregular', serif;
}

.oxygen-bg {background:#010101;
border-collapse: collapse;
    display: table;
    width: 100%;
}

.footer-bg {
  background:rgba(0,60,76,1);
   padding:1em 1em 0;
   color:#BFCBCF;
}
.footer-bg hr, hr {
background-color:rgb(172,203,218);
border:rgb(0,60,76) 1px solid;
border-style: none none solid;
color:#fff;
}

.footer-bg hr {
margin:20px 0 5px;
}
.footer-bg a {
color:#BFCBCF;
}
.footer-bg-2 {
  background:rgba(231,101,87,.25);
  color:#BFCBCF;
  padding-top:1em;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
  padding-left: 15px;
  padding-right: 15px;
}*/

.body-content.blog, .body-content.markets {
  position: relative;
  padding: 30px 2.5% 80px 2.5%;
}

.blog .breadcrumb, .markets .breadcrumb {
padding: 0;
margin-bottom: 20px;
list-style: none;
background:none;
}

.blog .card {
padding: 10px;
margin-top: 10px;
max-height: none;
height: auto;
}

.blog .card h1,.blog .card h2,.blog .card h3,.blog .article h1,.blog .article h2,.blog .article h3 {
  -wekit-hyphens:auto;
    -moz-hyphens:auto;
         hyphens:auto;
}

.display {
display: block!important;
}

.card {display: block;
height: 280px;
padding: 10px;
margin-top: 10px 20px;
background: #fff;
overflow: hidden;
}

.card .card-title {
  font-size: 3.5rem;
}

.card .card-content {
  padding-left: 10%;
}

a.next-ten {
    display: block;
    margin-top: 30px;
    padding: 5% 0;
    width: 100%;
    background-color:#BFCBCF;
    color:#fff;
}
.card:hover {
  background-color:#BFCBCF;
  color:#fff;
  -webkit-transition:background-color .2s, color .2s;
     -moz-transition:background-color .2s, color .2s;
       -o-transition:background-color .2s, color .2s;
      -ms-transition:background-color .2s, color .2s;
          transition:background-color .2s,color .2s;
}

a.next-ten:hover {
  background: #fff;
  color:#BFCBCF;
  -webkit-transition:background-color .2s, color .2s;
     -moz-transition:background-color .2s, color .2s;
       -o-transition:background-color .2s, color .2s;
      -ms-transition:background-color .2s, color .2s;
          transition:background-color .2s,color .2s;
}

.card:hover h2,.card:hover h4 {
  color:#fff;
  -webkit-transition:color .2s;
     -moz-transition:color .2s;
       -o-transition:color .2s;
      -ms-transition:color .2s;
          transition:color .2s;
}

.article {
position: relative;
background: #fff;
padding: 10px;
}

.blog .article figure {
  background: rgba(16,68,90,.25);
}

.blog .article figure figcaption {
  text-align: center;
  font-size: .75em;
}

#siderail {
position: relative;
top:0;
}

#blog-categories ul, #blog-top ul {
  padding:0;
}

#blog-categories li, #blog-top li {
  list-style:none;
}

.social-share {
width: 276px;
}
.social-share ul {
list-style: none;
margin: 0!important;
padding:0!important;
}

.social-share ul li {
float: left;
margin-bottom: 0!important;
margin-right: .5em!important;
}

.social-share .twframe, .social-share .fbframe, .social-share .inframe  {
margin-top: 4px!important;
width: 90px!important;
}

#siderail li {
  margin-bottom:.75em;
}

.label.marketing {
  font-size:1em;
}

#thoughts div.row .recent-news {
  background: rgb(235,235,235);
  padding:.75em;
  margin: 0.75em 0;
}

#thoughts h2 {
  text-transform: uppercase;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  body.vx-comunicacio,body.vx-infraestructura {
      background: url(/assets/img/banner-barcelona-lg.jpg) repeat-x 20% 0;
  }
  body.vx-comunicacio [role="main"],body.vx-infraestructura [role="main"] {
    padding-top: 25px;
  }
  .jumbotron {
    margin-top: 30px;
  }
  .jumbotron.full-width {
    margin-top: 0;
  }
  body.vx-comunicacio .jumbotron:first-child,body.vx-infraestructura .jumbotron:first-child {
    background: rgba(172,203,218,.5);
  }

  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
    margin: 1em 0;
  }
  
  .blog .card {
    padding: 25px 30px;
  }

.article {
    padding: 30px 40px;
  }

.navbar-nav-right {
  float: right;
}

}

@media (min-width: 320px) and (max-width: 767px) {
 .label.marketing.sm {
   font-size: 0.75em;
    white-space: pre-wrap;
} 
}

@media (min-width: 768px) {
header[role="banner"] div.navbar {
  padding-top: 25px;
  height: 100px;
}
main[role="main"] {
  margin-top: 60px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background:none;
  border-bottom:2.5px solid rgb(78,117,128);
  padding-bottom:5px;
}
  .card .card-title {
  font-size: 6.5rem;
}
#thoughts div.row .recent-news {
  margin: 0;
}
.vortex-icon {
  margin-bottom: 1em;
}
}

@media screen and (min-width: 1024px) {
 body.vx-comunicacio,body.vx-infraestructura {
      background: url(/assets/img/banner-barcelona-lg.jpg) no-repeat 50% 8%;
  } 

  #myCarouselHomeVortex.carousel .item {
  height: 400px;
}
#marketsIconHome {
  background: none;
  max-width: 970px;
}
.vortex-icon {
  margin-top: -180px;
  margin-bottom: 0;
}
}

@media screen and (min-width: 1200px) {
 #marketsIconHome {
  background: none;
  max-width: 1170px;
}
}