---
layout: default
class: gil-index
slug: blog
---

<main class="ox-masthead" id="content" role="main">

  <div class="container">

  {% include nav-about-us.html %} 

    <div class="body-content blog">        

      <div class="gil-bio">
        <p class="text-center gil"><img src="{{site.baseurl}}/assets/img/01-vortex-ask-gil-photo.jpg" class="img-thumbnail" /></p>

        <p class="lead">Moving traditional wind modeling effort from your office to our computer cluster, more than ??.??? Vortex simulations have been launched by users like you, from their desktop, online. Now , Gil Lizcano Vortex R&D director, will try to clarify your technical doubts.</p>

        <p>Please leave your question below and it will be replied within few working days.</p>

        <h2 class="text-center">Got a question? Why not <a href='mailto:gil@vortex.es?subject={{page.title}} - Vortex.es&body=I would like to ask you: ' class='mailto btn btn-default' title='Ask Gil'><span class='icon-envelope icon-white'></span> ask Gil</a></h2>
      </div>

      <div class="row">
        <div class="col-sm-12 col-lg-12 blog-list">
          {% assign cardCount = 0 %}

            {% for post in site.categories.ask-gil %}      
              {% include gil-card.html %}
              {% assign cardCount = cardCount | plus: 1 %}      
            {% endfor %}

            {% if cardCount > 10 %}
              {% assign firstThree = true %}
              <div class="clearfix"></div>
              {% include next-ten-ten.html %}
            {% endif %}

        </div>

      </div>

    </div>

  </div>

</main>