---
layout: default
class: gil-index
slug: blog
---

<main class="ox-masthead" id="content" role="main">

  <div class="container">

    <div class="body-content blog">        

      <ul class="breadcrumb">
        <li><a href="{{ site.base_url }}/">Home</a></li>
        <li class="active">Ask Gil</li>
      </ul>

      <div class="page-header">
        <h1>Ask Gil</h1>
      </div>

      <p class="text-center gil"><img src="{{site.baseurl}}/assets/img/01-vortex-ask-gil-photo.jpg" class="img-thumbnail" /></p>

      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit laoreet erat, vitae fringilla odio lacinia nec. Fusce id turpis lacus. Pellentesque eget mi rutrum, convallis est id, sagittis dolor. Vivamus fermentum placerat porta. Quisque risus lectus, suscipit eget venenatis vitae, congue id dolor. Praesent ipsum nibh, accumsan eu placerat eu, aliquam vitae odio. Ut cursus in turpis facilisis accumsan. Sed non varius velit, at fringilla tortor.</p>

      <p>Quisque ullamcorper neque lacinia, ultricies tortor et, sodales sem. Proin vulputate et turpis ac feugiat. Nam mattis sapien non neque vulputate placerat. Phasellus lobortis turpis eget ligula auctor, vel interdum odio dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur non urna rutrum, viverra magna eget, semper turpis. Vestibulum tempor nisi quis mollis laoreet. Maecenas eleifend rutrum enim aliquet volutpat. Nullam varius diam eu feugiat porttitor. Cras convallis nisl vitae ante accumsan, id blandit dui porttitor. Praesent mattis porttitor lectus, tincidunt viverra ligula accumsan sit amet. Cras non sodales lectus, quis vehicula felis. Aliquam erat volutpat. Sed volutpat, nisi ut molestie dictum, enim tortor consectetur felis, eget vulputate purus metus vel nulla.</p>

      <div class="well well-sm">
        <h2 class="text-center">Got a question? Why not ask Gil</h2>
        <p class="text-center"><a href='mailto:gil@vortex.es?subject={{page.title}} - Vortex.es&body=I would like to ask you: ' class='mailto btn btn-default' title='Ask Gil'><span class='icon-envelope icon-white'></span> Ask Gil</a></p>
      </div>

      <div class="row">
        <div class="col-sm-12 col-lg-12 blog-list">
          {% assign cardCount = 0 %}

            {% for post in site.categories.ask-gil %}      
              {% include blog-card.html %}
              {% assign cardCount = cardCount | plus: 1 %}      
            {% endfor %}

            {% if cardCount > 3 %}
              {% assign firstThree = true %}
              {% include next-ten.html %}
            {% endif %}

        </div>

      </div>

    </div>

  </div>

</main>