---
layout: default
class: markets-market
slug: markets
---

<main class="vx-masthead" id="content" role="main">

  <div class="container">

    <div class="body-content markets">

      {% if page.title == 'Markets' %}
      {% else if %}
      {% if page.title == 'References' or page.title == 'Pricing' %}
      <ul class="breadcrumb">
        <li><a href="{{ site.base_url }}/">Home</a></li>
        <li><a href="{{ site.base_url }}/markets">Markets</a></li>
        {% if page.title != 'Markets' %}
        <li class="active">{{page.title}}</li>
        {% endif %}
      </ul>
      {% else if %}
      {% include nav-markets.html %}
      {% endif %}
      {% endif %}

      <div class="page-header">
        <h1>{% if page.icon-url %}<img src="{{site.baseurl}}/assets/img/{{page.icon-url}}"/>{% endif %} {% if page.title == 'Markets' or page.title == 'Pricing' %}<strong>{{page.title}}</strong> {% else if %}<strong>{{page.title}}</strong>, {{page.subtitle}} {% endif %}</h1>
      </div>

      <article role="main">
        {{ content }}
      </article>

      {% if page.title == 'Pricing' or page.title == 'Markets' %}
      {% else if %}
      {% if page.title == 'Wind & Site' or page.title == 'Forecast' %}
      <h1 class="text-center">Are you interestd?</h1> 
      <p class="text-center"><a href='{{ site.base_url }}/markets/pricing.html' class='mailto btn btn-default' title='Get started'><span class='icon-eur icon-white'></span> Pricing</a></p> 
      {% else if %}
      <h1 class="text-center">Can we help you?</h1>
      <p class="text-center"><a href='mailto:info@vortex.es?subject={{page.title}} - Vortex.es&body=I would like further information on: http://www.vortex.es{{page.url}}' class='mailto btn btn-default' title='Contact sales'><span class='icon-envelope icon-white'></span> Contact sales</a></p>
      {% endif %}
      {% endif %}

    </div>

  </div>

</main>