---
layout: default
class: markets-market
slug: markets
---

<main class="vx-masthead" id="content" role="main">

  <div class="container">

    <div class="body-content markets">

      <ul class="breadcrumb">
        <li><a href="{{ site.base_url }}/">Home</a></li>
        <li><a href="{{ site.base_url }}/markets">Markets</a></li>
        {% if page.title != 'Markets' %}
        <li class="active">{{page.title}}</li>
        {% endif %}
      </ul>

      <div class="page-header">
        <h1>{% if page.icon-url %}<img src="{{site.baseurl}}/assets/img/{{page.icon-url}}"/>{% endif %} {% if page.title == 'Markets' %}<strong>{{page.title}}</strong> {% else if %}<strong>{{page.title}}</strong>, {{page.subtitle}} {% endif %}</h1>
      </div>

      <article role="main">
        {% if page.featured-img-url %}
        <p class="pull-right hidden-xs text-center featured-img-url"><img class="img-circle" src="{{site.baseurl}}/assets/img/{{page.featured-img-url}}"></p>
        {% endif %}
        {{ content }}
      </article>

      <h1 class="text-center">Can we help you?</h1> 
      <p class="text-center">{% if page.title == 'Wind & Site' %}<a href='{{ site.base_url }}/getstarted' class='mailto btn btn-default' title='Get started'><span class='icon-signin icon-white'></span> Get Started</a></p> {% else if %} <a href='mailto:info@vortex.es?subject={{page.title}} - Vortex.es&body=I would like further information on: http://www.vortex.es{{page.url}}' class='mailto btn btn-default' title='Contact sales'><span class='icon-envelope icon-white'></span> Contact sales</a> {% endif %}</p>

    </div>

  </div>

</main>