---
layout: default
slug: solutions
---

<main class="vx-masthead" id="content" role="main">

  <div class="container">

    <div class="body-content solutions">

      {% if page.title == 'Solutions' or page.title == 'Solar' or page.class == 'forecast-index' or page.title == 'Off-shore' %}
      {% include nav-solutions.html %}
      {% endif %}

      {% if page.class2 == 'wind-and-site' %}
      <ul class="breadcrumb">
        <li><a href="{{ site.base_url }}/">Home</a></li>
        <li><a href="{{ site.base_url }}/solutions/">Solutions (Wind & Site)</a></li>
        <li class="active">{{ page.title }}</li>
      </ul>
      {% include nav-solutions-wind-and-site.html %}
      {% endif %}

      {% if page.class2 == 'solar' %}
      <ul class="breadcrumb">
        <li><a href="{{ site.base_url }}/">Home</a></li>
        <li><a href="{{ site.base_url }}/solutions/solar-index.html">Solutions (Solar)</a></li>
        <li class="active">{{ page.title }}</li>
      </ul>
      {% include nav-solutions-solar.html %}
      {% endif %}

      {% if page.class2 == 'forecast' %}
      <ul class="breadcrumb">
        <li><a href="{{ site.base_url }}/">Home</a></li>
        <li><a href="{{ site.base_url }}/solutions/forecast-index.html">Solutions (Forecast)</a></li>
        <li class="active">{{ page.title }}</li>
      </ul>
      {% include nav-solutions-forecast.html %}
      {% endif %}

      {% if page.title == 'Solutions' or page.title == 'Pricing' or page.title == 'Solar' or page.class == 'forecast-index' or page.title == 'Off-shore' %}
      {% else %}
      <div class="page-header">
        <h1>{% if page.icon-url %}<img src="{{site.baseurl}}/assets/img/{{page.icon-url}}"/>{% endif %} {{ page.title }} {% if page.subitle %}, {{page.subtitle}} {% endif %}</h1>
      </div>
      {% endif %}

          <article role="main">
            {% if page.featured-img-url %}
            <p class="pull-right hidden-xs text-center featured-img-url ox_animate_when_almost_visible ox_left-to-right"><img class="img-thumbnail" src="{{site.baseurl}}/assets/img/{{page.featured-img-url}}"></p>
            {% endif %}
            {{ content }}
          </article>   

        
        {% if page.title == 'Pricing' %}
        {% else if %}
          {% if page.register %}

          <div class="well well-sm  ox_animate_when_almost_visible ox_bottom-to-top {% if page.title == 'Solutions' or page.title == 'Forecast' or page.title == 'Solar' %}hidden-xs hidden-sm hidden-md hidden-lg{% endif %}">

            <h2 class="text-center">Try it for free <a href='http://interface.vortex.es/signup' class='mailto btn btn-info' title='Please, sign up'><span class='icon-signin icon-white'></span> Get Started</a></h2>

          </div>

          {% else if %}

          <div class="well well-sm  ox_animate_when_almost_visible ox_bottom-to-top {% if page.title == 'Solutions' or page.title == 'Forecast' or page.title == 'Solar' %}hidden-xs hidden-sm hidden-md hidden-lg{% endif %}">

            <h2 class="text-center"><p>Try it for free, <a href='mailto:info@vortex.es?subject={{ page.title }} - Vortex.es&body=I would like further information on: http://www.vortex.es{{page.url}}' class='mailto btn btn-default' title='Contact sales'><span class='icon-envelope icon-white'></span> Contact sales</a></h2>

          </div>
          {% endif %}

        {% endif %}

    </div>

  </div>

</main>