---
layout: default
slug: solutions
---

<main class="vx-masthead" id="content" role="main">

  <div class="container">

    <div class="body-content solutions">

      {% if page.title == 'Solutions' %}
      {% else if %}      
      {% include nav-solutions.html %}
      {% endif %}

      {% if page.title == 'Solutions' or page.title == 'Pricing' %}
      {% else %}
      <div class="page-header">
        <h1>{% if page.icon-url %}<img src="{{site.baseurl}}/assets/img/{{page.icon-url}}"/>{% endif %} {{page.title}} {% if page.subitle %}, {{page.subtitle}} {% endif %}</h1>
      </div>
      {% endif %}

          <article role="main">
            {% if page.featured-img-url %}
            <p class="pull-right hidden-xs text-center featured-img-url ox_animate_when_almost_visible ox_left-to-right"><img class="img-thumbnail" src="{{site.baseurl}}/assets/img/{{page.featured-img-url}}"></p>
            {% endif %}
            {{ content }}
          </article>   

        
        {% if page.title == 'Pricing' %}
        {% else if %}
          {% if page.register %}

          <div class="well well-sm  ox_animate_when_almost_visible ox_bottom-to-top {% if page.title == 'Solutions' %}hidden-xs hidden-sm hidden-md hidden-lg{% endif %}">

            <h2 class="text-center">Try it for free <a href='http://itest.vortex.es/signup' class='mailto btn btn-info' title='Please, sign up'><span class='icon-signin icon-white'></span> Get Started</a></h2>

          </div>

          {% else if %}

          <div class="well well-sm  ox_animate_when_almost_visible ox_bottom-to-top {% if page.title == 'Solutions' %}hidden-xs hidden-sm hidden-md hidden-lg{% endif %}">

            <h2 class="text-center"><p>Try it for free, <a href='mailto:info@vortex.es?subject={{page.title}} - Vortex.es&body=I would like further information on: http://www.vortex.es{{page.url}}' class='mailto btn btn-default' title='Contact sales'><span class='icon-envelope icon-white'></span> Contact sales</a></h2>

          </div>
          {% endif %}

        {% endif %}

    </div>

  </div>

</main>